*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/assets/chinese_poetry/images/
/app/src/main/assets/chinese_poetry/others/
/app/src/main/assets/chinese_poetry/poetry/ci/song/rank/
/app/src/main/assets/chinese_poetry/poetry/poet/song/rank/
/app/src/main/assets/chinese_poetry/poetry/poet/song/strains/
/app/src/main/assets/chinese_poetry/poetry/poet/tang/rank/
/app/src/main/assets/chinese_poetry/poetry/poet/tang/strains/
/app/release/
